body {
	font-size: 100%;
	font-size: 16px;
	font-size: 1em;
}
#wrap {
	width: 100%;
	height: auto;
}
header {
	width: 100%;
	height: 60px;
	background: #333;
}
.head {
	width: 75%;
	height: 60px;
	margin: 0 auto;
}
.logo {
	width: auto;
	float: left;
	padding-top: 8px;
}
.logo img {
	width: auto;
} 
.ss {
	float: right;
	width: 20%;
}
.ss ul {
	width: 100%;
	line-height: 60px;
}
.ss ul li {
	float: left;
	width: 20%;
	display: block;
}
nav {
	width: 100%;
	height: 50px;
	background: #475359;
	border-top: 1px solid #56646B;
	line-height: 50px;
}
.nav {
	width: 75%;
	margin: 0 auto;
}
.nav .ul1 {
	width: 50%;
}
.nav .ul1 li {
	float: left;
	width: 16.6%;
	text-align: center;
}
.nav .ul1 li a {
	color: white;
	font-size: 1em;
	display: block;
	border-right: 1px solid #333;
}
.nav .ul1 li a:hover{
	background: orange;
}
section {
	width: 100%;
	height: auto;
	margin-top: 20px;
}
.main {
	width: 80%;
	height: auto;
	margin: 0 auto;
}
article {
	
} 
.mainleft {
	width: 68%;
	height: auto;
	background: white;
	border: 1px solid #e6e6e6;
	float: left;
}
.left1 {
	height: 219px;
	border-bottom: 1px dashed #e5e5e5;
	position: relative;
}
.dingwei {
	height: 88px;
	width: 100%;
	background: #3D9CCC;
	position: absolute;
	top: 16px;
	left: -16px;
}
.sanjiao {
	position: absolute;
	top: 88px;
}
.dingwei h2 {
	color: white;
	font-size: 1.8em;
	height: 60px;
	line-height: 60px;
	padding-left: 20px;
}
.dingwei .p1 {
	color: white;
	padding-left: 20px;
	font-size: 0.9em;
}
.dingwei .liangmian {
	position: absolute;
	right: 30px;
	top: 0;
}
.left1-content {
	padding-top: 110px;
}
.left1-content h1 {
	font-size: 2em;
	color: orange;
	height: 50px;
	line-height: 50px;
	padding-left: 20px;
}
.left1-content h1 span {
	float: right;
}
.left1-content h1 span a {
	font-size: 0.4em;
	color: blue;
	padding-right: 30px;
}
.left1-content ul {
	padding-left: 14px;
	width: 100%;
	height: 30px;
	line-height: 30px;
}
.left1-content ul li {
	float: left;
	padding: 0px 6px;
	color: #666;
	font-size: 1em;
}
.left1-content p {
	padding-left: 20px;
	color: #666;
	font-size: 1em;
	line-height: 30px;
}
.dingwei2 {
	width: 25%;
	height: 36px;
	background: orange;
	border-radius: 8px;
	line-height: 36px;
	text-align: center;
	position: absolute;
	color: white;
	font-size: 1em;
	right: 50px;
	bottom: -10px;
}
.left2 {
	height: auto;
	border-bottom: 1px dashed #e5e5e5;
}
.left2 h3 {
	height: 45px;
	line-height: 45px;
	font-size: 1.2em;
	padding-left: 5%;
	padding-top: 6px;
}
.left2 h3 img {
	padding-right: 8px;
}
.left2 ul {
	padding-left: 5%;
	padding-bottom: 10px;
}
.left2 ul li {
	display: inline-block;
	width: 50%;
	line-height: 24px;
	font-size: 0.8em;
}
.left2 ul li span {
	color: #999;
}
.left3 {
	height: auto;
	border-bottom: 1px dashed #ccc;
}
.left3 h3 {
	height: 45px;
	line-height: 45px;
	font-size: 1.2em;
	padding-left: 5%;
	padding-top: 6px;
}
.left3 h3 img {
	padding-right: 8px;
}
.left3 ol {
	padding-left: 5%;
	width: 70%;
}
.left3 ol li {
	font-size: 0.8em;
	color: #333;
	line-height: 26px;
}
.left3 ul {
	padding-left: 5%;
	padding-top: 20px;
	width: 70%;
	padding-bottom: 10px;
}
.left3 ul li {
	font-size: 0.8em;
	color: #333;
	line-height: 26px;
}
.left4 {
	height: auto;
	border-bottom: 1px dashed #ccc;
}
.left4 h3 {
	height: 45px;
	line-height: 45px;
	font-size: 1.2em;
	padding-left: 5%;
	padding-top: 6px;
}
.left4 h3 img {
	padding-right: 8px;
}
.left4 ul {
	padding-left: 5%;
	padding-bottom: 10px;
}
.left4 ul li {
	display: inline-block;
	width: 45%;
	line-height: 24px;
	font-size: 0.8em;
}
.left4 ul li span {
	color: #999;
}
.left5 {
	height: auto;
}
.left5 h3 {
	height: 45px;
	line-height: 45px;
	font-size: 1.2em;
	padding-left: 5%;
	padding-top: 6px;
}
.left5 h3 img {
	padding-right: 8px;
}
.left5 p {
	padding-left: 5%;
	width: 88%;
	font-size: 0.8em;
	line-height: 24px;
	font-family: "宋体";
	color: #666;
	padding-bottom: 10px;
}
.left5 p span a {
	color: blue;
}
.left6 {
	height: 112px;
	background: #F0F8FC;
}
.left6 dl {
	padding-left: 5%;
	height: 40px;
	line-height: 40px;
	padding-top: 36px;
}
.left6 dl dt {
	float: left;
	padding-right: 10px;
}
.left6 dl dd {
	float: left;
}
.left6 dl dd span a {
	color: blue;
}

/*you*/

aside {
	
} 
.mainright {
	width: 30%;
	float: right;
	height: auto;
	/*background: white;
	border: 1px solid #e6e6e6;*/
}
.mainright-top {
	height: auto;
	border: 1px solid #e6e6e6;
} 
.right1 {
	width: 100%;
	height: auto;
	background: white;
} 
.right1 h3 {
	height: 45px;
	line-height: 45px;
	font-size: 1.2em;
	padding-left: 5%;
	padding-top: 6px;
}
.right1 h3 img {
	padding-right: 8px;
}
.right1-img{
	max-width: 100%;
	margin: 0 auto;
	padding-left: 15%;
}

.right1 p{
	padding-left: 5%;
	height: 30px;
	line-height: 30px;
	font-size: 1em;
}
.right1 ul{
	padding-left: 5%;
}
.right1 ul li{
	line-height: 26px;
	font-size: 0.9em;
}
.right1 ul li span{
	font-size: 0.8em;
	color: #999;
}
.li1{
	color: blue;
}

.right2{
	height: 510px;
	background: #FAFAFA;
}
.right2 dl{
	padding-left: 5%;
	padding-top: 5%;
	
}
.right2 dl dt{
	float: left;
}
.right2 dl dt img{
	width: 35px;
	height: 35px;
	padding-right: 16px;
}
.right2 dl dd{
	float: left;
	width: 75%;
	height: auto;
	background: #C2E2F2;
	border-radius: 4px;
	position: relative;
}
.right2 dl dd p{
	font-size: 0.75em;
	padding: 5% 3%;
	line-height: 22px;
}
.right2 dl dd span{
	position: absolute;
	left: -8px;
	display: block;
	top: 10px;
}
.right2-liuyan{
	width: 100%;
}
.right2-liuyan span{
	font-size: 0.8em;
	display: block;
	height: 30px;
	line-height: 30px;
	padding-top: 20px;
	padding-left: 5%;
}
.right2-liuyan textarea{
	margin-left: 15%;
	font-size: 0.8em;
	line-height: 22px;
	padding: 2%;
	width: 74%;
}
.btn{
	width: 24%;
	height: 32px;
	color: white;
	text-align: center;
	line-height: 32px;
	background: #A0A0A0;
	font-size: 1em;
	border: none;
	border-radius: 6px;
	margin-left: 70%;
	margin-top: 10px;
}
.right2-bottom{
	padding-left: 5%;
	padding-right: 5%;
}
.right2-bottom p{
	font-size: 0.8em;
	height: 40px;
	line-height: 40px;
	padding-top: 10px;
}
.right2-bottom p span a{
	float: right;
	color: blue;
}
.right2-bottom ul{
	width: 100%;
}
.right2-bottom ul li{
	border-bottom: 1px dashed #ccc;
	
	height: 34px;
	line-height: 34px;
	color: blue;
	font-size: 0.75em;
}
.right2-bottom ul li span{
	color: #999;
	width: 25%;
	display: inline-block;
	text-align: right;
}
.right2-bottom ul li s{
	color: orange;
	width: 30%;
	display: inline-block;
	text-align: right;
}

.right3{
	height: 322px;
	border: 1px solid #ccc;
	margin-top: 20px;
	background: #FAFAFA;
}
.right3-content{
	padding-left: 7%;
}
.right3-content h3{
	height: 45px;
	line-height: 45px;
	font-size: 1.1em;
	
	padding-top: 6px;
}
.right3-content h3 img{
	padding-right: 3%;
	
}
.email{
	width: 88%;
	height: 26px;
	padding-left: 3%;
}
.fasong{
	margin-left: 72%;
	background: #85B4CC;
	border: none;
	border-radius: 4px;
	width: 20%;
	height: 28px;
	color: white;
	font-size: 0.9em;
	margin-top: 12px;
}
.right3-content-weixin{
	
}
.right3-content-weixin span{
	font-size: 0.8em;
	display: block;
	height: 50px;
	line-height: 50px;
}
.right3-content-weixin dl{
	
}
.right3-content-weixin dl dt{
	float: left;
}
.right3-content-weixin dl dt img{
	
}
.right3-content-weixin dl dd{
	float: left;
	width: 50%;
	padding-left: 8px;
}
.right3-content-weixin dl dd p{
	color: #999;
	line-height: 24px;
	font-size: 0.8em;
}

/*左边下部分*/

.mainleft2{
	width: 68%;
	height: auto;
	background: white;
	border: 1px solid #e6e6e6;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
}
.mainleft2 .hui{
	height: auto;
	background: #fafafa;
	padding-bottom: 10px;
	
}
.mainleft2 .hui h3{
	height: 50px;
	line-height: 50px;
	font-size: 1.1em;
	padding-top: 10px;
	padding-left: 5%;
}
.mainleft2 .hui h3 img{
	padding-right: 6px;
}
.mainleft2-biao{
	
}
.mainleft2-biao ul{
	padding-left: 8%;
	padding-right: 8%;
}
.mainleft2-biao ul li{
	height: 60px;
	border-bottom: 1px dashed #ccc;
	line-height: 22px;
}
.mainleft2-biao ul li h4{
	padding-top: 8px;
}
.mainleft2-biao ul li h4 a{
	color: blue;
	font-size: 0.9em;
}
.mainleft2-biao ul li p{
	color: #999;
	font-size: 0.8em;
}
.mainleft2-biao ul li p span{
	float: right;
}
.mainleft2-biao ul li p span b{
	color: orange;
	font-size: 1.5em;
}
.mainleft2 .bai{
	height: 103px;
	background: white;
}
.bai form{
	padding-left: 5%;
	padding-top: 36px;
	
}
.bai form .bai-ss{
	width: 63%;
	height: 28px;
	border-radius: 2px;
	border: 1px solid #ccc;
	padding-left: 2%;
}
.bai form .bai-btn{
	background: #85B4CC;
	color: white;
	width: 80px;
	height: 30px;
	border: none;
	border-radius: 2px;
	line-height: 30px;
	text-align: center;
	
}
.bai form .bai-btn img{
	width: 18px;
	height: 18px;
	
}
.bai form a{
	color: blue;
	font-size: 0.8em;
	padding-left: 6px;
}


























